.jumbotron {
    height: 90vh;
    background-size: cover;
    opacity: .7;
    /*background-color: black;*/
    background-image: url("../IMG/pexels-resized.jpg");
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3A23AD;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    font-weight: bolder;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

#return-to-top:hover {
    background: #00CEE1;;
}

#return-to-top:hover i {
    text-shadow: 2px 1px 2px #1C6EA4;
    color: #fff;
    top: 5px;
}

.strike {
    text-decoration: line-through;
}

.paginations {
    display: flex;
    justify-content: center;
    /*border-radius: 35px;*/
}
.paginations a {
    color: #3A23AD;
    background-color: #F1F3F9;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.paginations a:hover {
    color: #00CEE1;
    background-color: #3A23AD;
}
.left-radius{
    border-bottom-left-radius: 35px;
    -webkit-border-top-left-radius: 35px;
}
.right-radius{
    border-bottom-right-radius: 35px;
    -webkit-border-top-right-radius: 35px;
}
.btn {
    background-color: white;
    color: #3A23AD;
    border-radius: 50%;
    border: none;
}

.searchSpringNav {
    background-color: #3A23AD;
}

.card {
    transition: transform .2s;
    border: none;
}

.card:hover {
    transform: scale(1.03);
    border: none;
}

.fas {
    transition: transform .2s ease-in-out;
}

.icon {
    color: white;
}

.fas:hover {
    transform: scale(1.16);
    color: #00CEE1;
!important;
}

#navHeader {
    transition: transform .2s ease-in-out;
    color: lightgrey;
}

#navHeader:hover {
    color: #00CEE1;
    transform: scale(1.05);
}

.searchSpringText {
    color: #3A23AD;
}

/*=======================================Dark Mode Classes*/

.dMBackgroundColor {
    background-color: #333435;
!important;
}

.dmBodyColor {
    background-color: #1C1C1E;
}

.dmCardColor {
    background-color: #262628;
}

.dmSearch {
    background-color: #262628;
    border: 1px solid black;
}

.dmIcon {
    color: black;
/*//393C3D*/
}

.dmText{
    color: lightgray;
}

.test > li > a {
    background-color: #393C3D;!important;
    border-color: #393C3D;!important;
    color: #666666;
}

.test > li > a:hover {
    background-color: #666666;!important;
    border-color: #666666;!important;
    color: #393C3D;
}
