

/*=======================================Dark Mode Classes*/

/*.dMBackgroundColor {*/
/*    background-color: #333435;*/
/*!important;*/
/*}*/

/*.dmBodyColor {*/
/*    background-color: #1C1C1E;*/
/*}*/

/*.dmSearch {*/
/*    background-color: #262628;*/
/*    border: 1px solid black;*/
/*}*/

.dark > .paginations a {
    background-color: #393C3D;
    border-color: #393C3D;
    color: #666666;
}

.dark > .paginations a:hover {
    background-color: #666666;
    border-color: #666666;
    color: #393C3D;
}

.dark > .return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333435;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dark > .return-to-top i {
    color: #666;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    font-weight: bolder;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.dark > .return-to-top:hover {
    background: #666666;;
}

.dark > .return-to-top:hover i {
    text-decoration: none;
    color: #393C3D;
    top: 5px;
}

.dark.body {
    background-color: #1C1C1E;
}

.dark > #searchSpringNav {
    background-color: #333435;
}

#searchSpringNav {
    background-color: #3A23AD;
}

.dark > .card > .text {
    color: #86898B;
}

.dark > .card > .card-body {
    background-color: #262628;
!important;
}


.fas:hover {
    transform: scale(1.16);
    color: #00CEE1;
!important;
}

/*==============================================*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider {
    border-radius: 30px;
}

.slider:before {
    border-radius: 50%;
}

/*===================================*/
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.jumbotron {
    height: 90vh;
    background-size: cover;
    opacity: .1;
    background-image: url("../IMG/pexels-resized.jpg");
}

.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3A23AD;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top i {
    color: #fff;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    font-weight: bolder;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.return-to-top:hover {
    background: #00CEE1;;
}

.return-to-top:hover i {
    text-decoration: none;
    text-shadow: 2px 1px 2px #1C6EA4;
    color: #fff;
    top: 5px;
}

.strike {
    text-decoration: line-through;
}

.paginations {
    display: flex;
    justify-content: center;
    /*border-radius: 35px;*/
}

.paginations a {
    color: #3A23AD;
    background-color: #F0F0F0;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.paginations a:hover {
    color: #00CEE1;
    background-color: #3A23AD;
}

.left-radius {
    border-bottom-left-radius: 35px;
    -webkit-border-top-left-radius: 35px;
}

.right-radius {
    border-bottom-right-radius: 35px;
    -webkit-border-top-right-radius: 35px;
}

.card {
    transition: transform .2s;
    border: none;
}

.card:hover {
    transform: scale(1.03);
    border: none;
}

#navHeader {
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: none;
    transition: transform .2s ease-in-out;
    color: lightgrey;
    font-size: xx-large;
}

#navHeader:hover {
    color: #00CEE1;
    transform: scale(1.05);
}
